
body {
    height:100vh ; 
    width :auto ; 
}


.parent {
    height: 80%;
    width : 90% ;

    background-color:chocolate ;
    
    display: flex ; 
    flex-direction : row ;   
    align-items:center ; 
    justify-content: center ;
}

.child {
    height : 25% ; 
    width : 25% ; 
    background-color: rebeccapurple;
    margin: 10px ; 
}

@media screen and (max-width:600px){
    .parent{
        background-color: black;
        flex-direction: column;
    }
    .child{
        background-color: white;
        width :80% ;

    }
}